{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
 <div id="content">
    <div class="container text-center" style="color:black">
        <h1>About Us</h1>
        <p>Power Touch Tutorial, is an initiative founded by Pastor Kolawole Jayeoba(The head pastor of the Redeem Chriatain Church Of God, Power Touch Santuary Branch).It aim at delivering presided knowledge that will catalyse distinguished academic performance.The tutorial cut across all field of  learning in o-level. with the help of God, the church has been able to run and manage the tutorial at their own cost just so student can get the best of knowlege at zero cost and it is also believed that this kind gesture can help those who are at present not financially stable get Educated.</p>
    </div> 
 </div>
{% endblock %}




