{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id="content" style="background-color: #F59C4E;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive img_1" src="static/image/reading1.jpg" alt="reading1" style="width:100%;"></img>
                </div> 
                <div class="item">
                    <img class="img-responsive img_2" src="static/image/computerclasses1.jpg" alt="computerclasses1" style="width:100%;"></img>
                </div> 
                <div class="item">
                    <img class="img-responsive img_3" src="static/image/exam1.jpg" alt="exam1" style="width:100%;">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div id="background1">
            <h1>What is Lorem Ipsum?</h1>
            <p>Lorem Ipsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
                mmy text Lorem Ipsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
                mmy text Lorem Ipsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
                mmy textLorem Ipsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
                mmy textLorem Ipsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
                mmy textLorem Ipsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
                mmy textLorem Ipsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
                mmy textLorem Ipsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
                mmy textLorem Ipsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text LoremIpsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy textLorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text
                mmy text</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id="footer">
        <h1>What is Lorem Ipsum?</h1>
        <p>Lorem Ipsum is simply dummy text LoremIpsum is simply dummy text  text</p>
    </div>
{% endblock %}