{% extends "layout2.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container">
    <h1 class="text-center">Register</h1><hr><br><br>
        <form class=form-horizontal action="/Register" method="POST">
            <div class="row">
                 <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-2" for="user">Username:</label>
                        <div class="col-sm-4 col-centered text-center">
                            <input type="text" class="form-control" placeholder="Enter user" name="username">
                        </div>
                 </div>
            </div><br>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-2" for="pass">Password:</label>
                        <div class="col-sm-4 col-centered text-center">
                            <input  type="password" class="form-control" name ="password" placeholder="Enter password">
                        </div>
                </div>
            </div><br>
            
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-2" for="email">Email:</label>
                        <div class="col-sm-4 col-centered text-center">
                            <input  type="email" class="form-control" name="email" placeholder="Enter functional Email"><br>
                        </div>
                </div>
            </div><br>
            
            <div class"row">
                <div class="text-center">
                    <p>Already have an account? <a href="{{ url_for('Login') }}">Login</a></p>
                        <input class="btn btn-success" type = "submit" value = "submit"/> 
                </div>
            </div><br><hr>
        </form> 
    </div>
</div>
{% endblock %}