{% extends "layout2.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}                                            <!--snippet for flash messages-->
        {% if messages %}
           {% for message in messages %}
                <div class="alert alert-success alert-dismissible">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
        {% endif %}
     {% endwith %}

    {% if error %}                                                                                <!--snippet for error messages-->
    <div class="alert alert-danger"><p><strong>Error:</strong> {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    {% endif %}
    
    <h1 class="text-center">Register</h1><hr><br><br>
        <form class=form-horizontal action="/register" method="POST">
            <div class="row">
                 <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-2" for="user">Username:</label>
                        <div class="col-sm-6 col-centered text-center">
                            <input type="text" class="form-control" placeholder="Username" name="username" minlength="2" required value={{request.form.username}} >
                        </div>
                 </div>
            </div><br>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-2" for="pass">Password:</label>
                        <div class="col-sm-6 col-centered text-center">
                            <input  type="password" class="form-control" name ="password" placeholder="Password" minlength="2"  required>
                        </div>
                </div>
            </div><br>

            <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-sm-offset-2" for="pass"> Comfirm Password:</label>
                            <div class="col-sm-6 col-centered text-center">
                                <input  type="password" class="form-control" name ="comfirm password" placeholder=" Confirm Password" minlength="2"  required>
                            </div>
                    </div>
                </div><br>
            
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-2" for="email">Email:</label>
                        <div class="col-sm-6 col-centered text-center">
                            <input  type="email" class="form-control" name="email" placeholder="Email"  minlength="2"  required value={{request.form.email}}><br>
                        </div>
                </div>
            </div><br>
            
            <div class"row">
                <div class="text-center">
                    <p>Already have an account? <a href="{{ url_for('Login') }}">Login</a></p>
                        <input class="btn btn-success" type = "submit" value = "submit"/> 
                </div>
            </div><br><hr>
        </form> 
    </div>
</div>
{% endblock %}
